# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
.eggs/

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
pip-wheel-metadata/
*.dist-info/

# Unit test / coverage
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Misc
*.log
.DS_Store
Thumbs.db
